/**
 * Wrapper
 */
.pageWrapper {
    @extend %clearfix;
}

.contentWrapper {
}

.graph-container { 
    width: 100%; 
    max-width: 600px; 
    
    TH {
        font-weight: bold;
    }
}
.graph-container TBODY TH { width: 50px; border-bottom: 1px solid lighten($text-color, 70%); }
.graph-bar-hor { padding: 2px 0; color: #FFF; font-weight: bold; overflow: hidden; transition: width 1s ease-in-out; }
.graph-bar-hor {
    .key {
        float: left;
        padding: 0 10px;
    }
    .result {
        float: right;
        padding: 0 10px;
    }
}
.graph-color-1 { background-color: #DE1B1B; }
.graph-color-2 { background-color: #0971B2; }
.graph-color-3 { background-color: #2B2B2B; }

.graph-container.wait-to-be-scrolled .graph-bar-hor {
    width: 1px!important;    
}

@media screen and (min-width: $on-slim) {
    .onSlim {
        display: none;
    }
    .pageWrapper { 
        max-width: 750px; 
        min-width: 600px; 
        margin: 0 auto; 
        overflow: hidden; 
        padding-left: 100px; 
        position: relative; 
    }
    .contentWrapper { 
        max-width: 940px; 
        min-width: 600px;
    }
    .siteHeader {
        border: none;
        
        NAV, H1 {
            display: inline-block;
        }
        
        H1 {
            background: none;
            font-size: 1.5em;
            
            A, A:hover {
                color: $text-color;
            }
        }
    }

    .postList {        
        ARTICLE {
            max-width: 720px; 
            position: relative; 
            margin-bottom: 60px;

            HEADER {
                P {

                }
            }

            FOOTER {
                SPAN {
                    margin-left: -121px; 
                    width: 60px; 
                    padding: 6px 10px; 
                    position: absolute; 
                    font-size: 1.5em;
                    float: none;
                }
                .date {
                    top: 0; 
                    color: $background-color;
                    background: $brand-color; 
                    border-top-left-radius: 10px;
                    border-bottom: dashed #FFF 1px;
                }
                .author {
                    bottom: 0;
                    color: $background-color;
                    background: $highlight-color;
                    border-bottom-left-radius: 10px;
                    border-top: dashed #FFF 1px;
                                        
                    A, A:visited {
                        text-decoration: underline;
                        color: $background-color;
                    }
                }
                LI {
                    display: inline;
                    float: none;
                }
            }
        }
    }
    .shadowBox { 
        width: 5px;
        margin-bottom: -99999px; 
        padding-bottom: 99999px; 
        position: absolute; 
        top: 0; 
        -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    }
    .hideShadowBox {
        width: 15px;
        position: absolute;
        top: 0;
        margin-bottom: -99999px; 
        padding-bottom: 99999px; 
        margin-left: 0px;
        background: $background-color;
    }
}
