$base-font-family: Helvetica, Arial, sans-serif;
$base-line-height: 1.5em;

$small-font-family: Tahoma, Verdana, Segoe, sans-serif;

$spacing-unit:     20px;

$text-color:       #2B2B2B;
$background-color: #F6F6F6;
$brand-color:      #DE1B1B;

$highlight-color:       #0971B2;
$highlight-color-light: lighten($highlight-color, 20%);

$on-slim:          710px;